.LoginPageContainer {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    110deg,
    rgba(236, 236, 255, 1) 0%,
    rgba(255, 223, 203, 1) 33%,
    rgba(236, 236, 255, 1) 66%,
    rgba(255, 223, 203, 1) 100%
  );
  background-size: 333% 100%;
  background-position: 0% 100%;
  animation: gradient 8s linear infinite;
}

.LoginBox {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.3);
}

.LoginBoxHeader {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
}

.LoginForm {
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
  height: 150px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.LoginForm input {
  width: 200px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  margin-top: 5px;
}

.LoginForm input:focus {
  outline: none;
  border: 1.5px solid #000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.Remember-Checkbox {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}
.RememberMe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 25px;
  margin-top: 5px;
  font-size: 12px;
}

.LoginForm button {
  margin-top: 10px;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 15px;
}

.LoginForm button:hover {
  margin-top: 10px;
  cursor: pointer;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 15px;
}

.RegisterForm {
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
  padding-left: 10px;
  padding-right: 10px;
  height: 190px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.RegisterForm input {
  width: 200px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.RegisterForm input:focus {
  outline: none;
  border: 1.5px solid #000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.RegisterForm button {
  margin-top: 10px;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 15px;
}

.RegisterForm button:hover {
  margin-top: 10px;
  cursor: pointer;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 15px;
}

.LoginBoxButton {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: underline;
  text-align: center;
  margin-bottom: 50px;
}

.LoginBoxButton:hover {
  margin-top: 10px;
  color: rgb(100, 100, 100);
}

.InvalidForm {
  font-size: 10px;
  color: red;
}

.Registering {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  font-weight: bold;
}

@media all and (max-width: 480px) {
  .LoginBox {
    width: 90vw;
    box-shadow: none;
  }

  .LoginBoxButton {
    width: 100vw;
  }
}

@media all and (max-height: 550px) {
  .LoginBox {
    width: 90vw;
    box-shadow: none;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 100% 200%;
  }
}
