.main-createprofile {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  /* align-items: center; */
  background: linear-gradient(
    110deg,
    rgba(236, 236, 255, 1) 0%,
    rgba(255, 223, 203, 1) 33%,
    rgba(236, 236, 255, 1) 66%,
    rgba(255, 223, 203, 1) 100%
  );
  background-size: 333% 100%;
  background-position: 0% 100%;
  animation: gradient 8s linear infinite;
  overflow: hidden;
}

.createprofile-mainDiv {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 1000px;
  /* background: linear-gradient(
    90deg,
    rgba(236, 236, 255, 0) 0%,
    rgba(255, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 40%,
    rgba(236, 236, 255, 0) 100%
  ); */
  background-color: transparent;
  padding-left: 200px;
}

.createprofile-buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  height: 100px;
  /* background-color: black; */
}

.createprofile-button {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid black;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
}
.createprofile-button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.createprofile-button:active {
  background-color: rgb(100, 100, 100);
  border-color: rgb(100, 100, 100);
  color: white;
}

.createprofile-nextbutton {
  margin-left: 20px;
}

.createprofile-button-disable {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgb(140, 140, 140);
  background-color: transparent;
  font-weight: bold;
}

.createprofile-endbutton {
  position: absolute;
  right: 50px;
  top: 25px;
}

.createprofile-submitbutton {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: none;
  background-color: rgb(0, 206, 0);
  color: white;
  font-weight: bolder;
  border: 2px solid rgb(0, 125, 0);
  cursor: pointer;
  transition: all 0.5s;
  /* transition: box-shadow 0.5s; */
}

.createprofile-submitbutton:hover {
  background-color: rgb(0, 125, 0);
  font-size: 15px;
}

.createprofile-submitbutton:active {
  background-color: rgb(0, 70, 0);
  font-size: 14px;
  border: 2px solid rgb(0, 70, 0);
}

.createprofile-submitbutton:focus {
  /* height: 300px; */
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 500px 100vw black;
  color: black;
}

.createprofile-skipbutton {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: none;
  background-color: rgba(122, 122, 122, 0.6);
  color: white;
  font-weight: bolder;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.5s;
  /* transition: box-shadow 0.5s; */
}

.createprofile-skipbutton:hover {
  background-color: rgb(170, 0, 0);
  font-size: 15px;
  border: 2px solid rgb(170, 0, 0);
}

.createprofile-skipbutton:active {
  background-color: rgb(120, 0, 0);
  font-size: 14px;
  border: 2px solid rgb(120, 0, 0);
}

.createprofile-skipbutton:focus {
  /* height: 300px; */
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0px 0px 500px 100vw black;
  color: black;
}
