.createprofile-general-header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  height: 150px;
  width: 500px;
  align-items: flex-end;
  padding-bottom: 10px;
}

.createprofile-general-body {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 100px;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100%;
  border-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0)) 1;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  width: 500px;
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.createprofile-general-body::-webkit-scrollbar {
  display: none;
}

.createprofile-general-body-left {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 800px;
  box-sizing: border-box;
}

.createprofile-general-header-icon {
  width: 50px;
  height: 50px;
  background-image: url("../../../assets/icons/profile.png");
  background-size: cover;
  background-position: center;
}

.createprofile-general-header-title {
  height: 50px;
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
}

.createprofile-general-body-question {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.createprofile-general-body-input {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  background-color: transparent;
  border-color: #000000;
  border-width: 0px 0px 1px 0px;
  outline: none;
}

.question {
  margin-bottom: 20px;
}

.createprofile-general-body-choices {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 100%;
}

.createprofile-general-body-choice-unchecked {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 20px;
  margin-right: 10px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  cursor: pointer;
  margin-bottom: 10px;
}

/* .createprofile-general-body-choice-unchecked:hover {
  background-color: #000000;
  color: #ffffff;
} */
.createprofile-general-body-choice-unchecked:hover {
  background-color: rgb(100, 100, 100);
  border-color: rgb(100, 100, 100);
  color: white;
}

.createprofile-general-body-choice-checked {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 20px;
  margin-right: 10px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #000000;
  color: #ffffff;
}
